.nav,
.notes_nav {
	display: flex;
	flex-flow: column nowrap;
	grid-area: aside;
}

.nav__items {
	margin-left: 12rem;
	display: flex;
	flex-flow: column nowrap;
	list-style-type: none;
	gap: 2rem;
	padding-top: 3rem;
	color: var(--COLOR-TXT);
}

.nav__list_item {
	display: flex;
	font-size: 2.2rem;
	align-items: center;
	gap: 2rem;
}

.nav__list_item:hover {
	color: var(--COLOR-PRIMARY);
}

/* 
.notes_nav i {
}

.notes_nav .nav__item {
text
} */
