.main--home_page {
	grid-area: main;
	/* display: flex; */
	flex-flow: row nowrap;
	min-height: 100%;
}

.note_editor_section {
	display: flex;
	flex-flow: row wrap;
	padding: 3rem;
	padding-bottom: 1rem;
	gap: 2rem;
}

.note_container {
	display: flex;
	flex-flow: column nowrap;
}

.note_lisiting_section {
	display: flex;
	flex-flow: column nowrap;
	padding: 3rem;
	padding: 1rem 3rem;
	gap: 2rem;
}
